.icon {
    font-family: 'scite-icons' !important;
    speak: none;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1.5 !important;
}

.unclassified:before {
    content: "\e80a";
    color: #828179;
}

.disputing:before {
    content: "\e80a";
    color: #F39C12;
}

.mentioning:before {
    content: "\e902";
    color: #393F43;
}

.supporting:before {
    content: "\e903";
    color: #2ECC71;
}

.retractions:before {
    content: "\e901";
    color: #FF3B30;
}

.notices:before {
    content: "\e90a";
    color: #82807d;
}

.smallIcon {
  line-height: 1rem !important;
}
