@font-face {
    font-family: "Circular";

    src: url("https://cdn.scite.ai/assets/fonts/circular/circular-book.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.scite.ai/assets/fonts/circular/circular-book.woff2") format("woff2"),
         url("https://cdn.scite.ai/assets/fonts/circular/circular-book.woff") format("woff"),
         url("https://cdn.scite.ai/assets/fonts/circular/circular-book.ttf") format("truetype");
}

@font-face {
  font-family: 'scite-icons';
  src: url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.eot?68837754');
  src: url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.eot?68837754#iefix') format('embedded-opentype'),
       url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.woff2?68837754') format('woff2'),
       url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.woff?68837754') format('woff'),
       url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.ttf?68837754') format('truetype'),
       url('https://cdn.scite.ai/assets/fonts/scite-icons/scite-icons.svg?68837754#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
